body {
    margin: 0;
}

#content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 150px);
    padding: 0 70px;
    background: url('background.svg') no-repeat;
}

.logo {
    grid-column: span 1;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    text-align: center;
    align-self: center;
}

.navigation {
    grid-column: span 11;
    font-family: 'Josefin Sans', sans-serif;
    justify-self: end;
    align-self: center;
}

.navigation ul li {
    list-style: none;
    display: inline-block;
    text-align: center;
    padding-left: 50px;
}

.navigation ul li a {
    text-decoration: none;
    color:black;
    font-weight: 500;
}

.heading {
    grid-column: span 6;
    grid-row: span 3;
    font-family: 'Montserrat', sans-serif;
}

.heading h1 {
    font-size: 48px;
}

.heading button {
    font-family: 'Josefin Sans', sans-serif;    
    background: rgba(0,0,0,0);
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #2196f3 , #9c27b0);
    border-image-slice: 1;
    cursor: pointer;
}

.heading button div {
    padding: 13px 36px 9px;
    background: linear-gradient(to right, #2196f3 , #9c27b0);
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-thumbnail {
    grid-row: span 3;
    grid-column: span 6;
    /* border: 3px solid black; */
    align-self: start;
}

.advantage {
    grid-column: span 12;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.advantage div {
    grid-column: span 4;
    grid-template-columns: 100px 200px;
    grid-template-rows: 50px 50px;
    display: grid;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

.advantage i:nth-child(1n){
    grid-column: span 1;
    grid-row: span 2;
    display: inline;
    align-self: center;
    justify-self: center;
} 

.advantage span:nth-child(2){
    grid-column: 2 / span 1;
    grid-row: span 1;
    font-size: 32px;
    align-self: end;
}

.advantage span:nth-child(3){
    grid-column: 2 / span 1;
    grid-row: 2  / 2;
    font-size: 18px;
    align-self: center;
    font-weight: 200;
} 

.advantage i.material-icons {
    font-size: 72px;
}

.back {
    display: grid;
    width: 100%; 
    position: absolute;
    height: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px 400px;
    z-index: 1;
}

.back div:nth-child(1) {
    transform: skewY(25deg);
    background: #2A8EEE;
    grid-row: 2 / 2;
}
.back div:nth-child(2) {
    transform: skewY(-25deg);
    background: #605CD0;
    grid-row: 2 / 2;
}
.back div:nth-child(3) {
    transform: skewY(25deg);
    background: #972BB3;
    grid-row: 2 / 2;
}

.campaigns {
    margin-top: 60px;
    grid-column: span 12;
    font-family: 'Josefin Sans', sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
}

.campaigns h2 {
    grid-column: span 3;
    justify-self: center;
}

.campaigns .card {
    grid-column: span 1;
    display: grid;
    grid-template-rows: 70px 240px 50px 100px;
    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.campaigns .card h4 {
    align-self: center;
    padding: 16px;
}

.campaigns .card .reward {
    width: 100%;
    background: darkgrey url('https://steamcommunity-a.akamaihd.net/economy/image/-9a81dlWLwJ2UUGcVs_nsVtzdOEdtWwKGZZLQHTxDZ7I56KW1Zwwo4NUX4oFJZEHLbXK9QlSPcUivB9aSQPRVees2c6cQ0hwIgFot6imKglh7PHJcjZ94N2kk4XFxvOia-6Glz5TupIpiOiQ9N_w3Qfs-hFrZWr3INDGJAQ-Z1jV-Fi2wvCv28HWthLbgw/360fx360f') center center no-repeat;;
    background-size: cover;
}

.campaigns .card .avatar {
    align-self: center;
    padding: 16px;
    display: grid;
    grid-template-columns: 42px 1fr;
}

.campaigns .card .avatar span:nth-child(1) {
    display: inline-block;
    background-image: url('http://i.stack.imgur.com/Dj7eP.jpg');
    width: 32px;
    height: 32px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    justify-self: start;
}

.campaigns .card .avatar span:nth-child(2) {
    display: inline;
    text-align: left;
    align-self: center;
}

.campaigns .card .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.campaigns .card .info div {
    grid-column: span 1;
    background: #EDEDED;
    text-align: center;
    align-self: center;
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 50px 1fr;
}

.campaigns .card .info div i {
    font-size: 28px;
    grid-column: span 1;
    align-self: center;
    text-align: right;
    padding-right: 10px;
}

.campaigns .card .info div span:nth-child(2)  {
    font-size: 16px;
    grid-column: span 1;
    align-self: center;
    text-align: left
}

.campaigns .card .info div span:nth-child(3) {
    font-size: 24px;
    grid-column: span 2;
}

#signin {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 150px);
    padding: 0 70px;
    font-family: 'Montserrat', sans-serif;
}

.signin-box {
    grid-row: span 4;
    grid-column: 4 / 10;
    padding: 50px 70px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.signin-box a {
    color: #2196f3;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.signin-box .signup_link {
    font-size: 14px;
    display: block;
    padding: 10px;
}

.signin-box span.signin_span { 
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}

.signin-box label {
    display: block;
    font-size: 12px;
    padding: 10px 0;
}

.signin-box input[type="text"] {
    border: 1px solid lightgrey;
    width: 95%;
    height: 30px;
    font-size: 16px;
    padding: 5px 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;   
}

.signin-box .checkbox {
    display: block;
}

.signin-box .checkbox input{
    display: none;
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    cursor: pointer;
}
  
.signin-box .checkbox label {
    position: relative;
    cursor: pointer;
}
  
.signin-box .checkbox label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid lightgrey;
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}
  
.signin-box .checkbox input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 14px;
    left: 8px;
    width: 4px;
    height: 10px;
    border: solid #0079bf;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.signin-box .terms {
    display: block;
    margin-top: 25px;
    font-size: 12px;
}

.signin-box button.signin_btn {
    font-family: 'Josefin Sans', sans-serif;    
    background: rgba(0,0,0,0);
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #2196f3 , #9c27b0);
    border-image-slice: 1;
    cursor: pointer;
    margin: 30px 0 15px 0;
}

.signin-box button.signin_btn div {
    padding: 13px 36px 9px;
    background: linear-gradient(to right, #2196f3 , #9c27b0);
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.signin-box .center {
    text-align: center;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
}

.hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
}

.google-button {
    height: 40px;
    border-width: 0;
    background: white;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    padding: 0;
    cursor: pointer;
}
.google-button:focus, .google-button:hover {
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
 }
.google-button:active {
    background-color: #e5e5e5;
    box-shadow: none;
    transition-duration: 10ms;
}
  
.google-button__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 8px 8px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
}
  
.google-button__icon--plus {
    width: 27px;
}
  
.google-button__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', arial,sans-serif;
}
  